@font-face {
    font-family: proxima;
    src: url(font/Proxima_Nova_Font.otf);
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: proxima;
    
}

.clear {
    font-weight: 900;
}
body {
    background-color: #FFFFFF;
}
.calculator, .screen {
    width: 350px;
}
.outline {
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 10px 2px #000000; 
    box-shadow: 5px 5px 10px 2px #000000;
    background-color: #121212;
}
.container {
    background-color: #18191A;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 550px;
}


.top, .row3, .row2, .row1, .row0 {
    display: flex;
}

.buttons {
    height: 100%;
    
}
.equal {
    background-color: #056ab9;
    
}
.oper {
    color: #056ab9;
    font-weight: 900;
}
.oper:hover {
    color: white;
}
.equal:hover {
    background-color: white;
    color: #056ab9;
    border: #121212 2px solid;
}
button {
    width: 87.5px;
    height: 110px;
    /* background-color: #181818; */
    background-color: transparent;
    /* border: 1px solid #181818; */
    border: 1px solid transparent;
    font-size: 20px;
   
}   
button:hover {
    background-color: #056ab9;
}
.screen {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    padding-right: 7px;
    padding-top: 7px;
    
}
.decimal {
    font-weight: 900;
}
.clear {

    width: 100%;
    min-width: 87.5px;
}